* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0
}

.body {
    margin: 0;
    padding: 0;
}

#root{
    margin: 0 auto;
}

.home {
    max-width: 100%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0.5em;
    min-height: 80vh;
}

header {
    background-color: #890b59;
    color: #fff;
    text-align: center;
    /* padding: 0.8em 1em; */
    font-size: 0.8em;
    margin: 0 auto;
}

nav .navLeft {
	margin-top: auto;
	margin-bottom: auto;
}

nav img {
	width: 120px;
	height: 50px;
	/* object-fit: cover; */
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

nav .navRight,
nav .user {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	padding: 10px 15px;
	background-color: white;
	/* position: fixed; */
	top: 0;
	width: 100%;
}

nav .navLeft {
	margin-top: auto;
	margin-bottom: auto;
}
nav .navRight,
nav .user {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

nav .user a {
	text-decoration: none;
	padding: 6px 16px;
	background-color: #f73f52;
	color: white;
	border-radius: 5px;
	margin-left: 10px;
}

nav .navRight button {
	text-decoration: none;
	border: none;
	padding: 10px 16px;
	background-color: #f73f52;
	color: white;
	border-radius: 5px;
}

nav .navRight a {
	text-decoration: none;
	color: black;
	margin-right: 10px;
}

nav .navRight button {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

nav .user a:hover {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* 
@media (min-width: 540px) {
    nav {
        display: block;
    }
} */

header .subscribeButton{
    background-color: #1B4965;
    color: white;
    font-size: 8px;
}

header .subscribeButton a{
    color: white;
}

header .subscribeButton a:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#video-section h1 {
	position: absolute;
	width: 302px;
	height: 29px;
	left: 36px;
	top: 857px;
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #1B4965;

}

#video-section h3 {
	position: absolute;
	width: 355px;
	height: 80px;
	left: 8px;
	top: 899px;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}

#video-section button {
	position: absolute;
	width: 145px;
	height: 39px;
	left: 113px;
	top: 996px;

	background: #FE7F2D;
	border-radius: 4px;

}


.form-container {
	max-width: 1280px;
    margin: 0 auto;
    padding: 0.5em;
    min-height: 80vh;
}

.form-heading-1 {
	position: absolute;
	width: 313px;
	height: 35px;
	left: 31px;
	top: 95px;

	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;

	color: #1B4965;
}

.form-heading-3 {
	position: absolute;
	width: 322px;
	height: 60px;
	left: 27px;
	top: 153px;

	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	color: #000000;
}

.form-heading-5 {
	position: absolute;
	width: 342px;
	height: 18px;
	left: 28px;
	top: 226px;

	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	/* identical to box height */


	color: #1B4965;
}
.first-name {
	position: absolute;
	width: 79px;
	height: 20px;
	left: 27px;
	top: 258px;

	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	color: #1B4965;
}
.input-first {
	box-sizing: border-box;

	position: absolute;
	width: 322px;
	height: 46px;
	left: 27px;
	top: 284px;

	background: #FFFFFF;
	border: 1px solid #D9D9D9;

}

.last-Name {
	position: absolute;
	width: 78px;
	height: 20px;
	left: 27px;
	top: 351px;

	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	color: #1B4965;

}
.input-last {

	box-sizing: border-box;
	position: absolute;
	width: 322px;
	height: 46px;
	left: 27px;
	top: 377px;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
}
.email-form {
	position: absolute;
	width: 45px;
	height: 20px;
	left: 27px;
	top: 448px;

	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;

	color: #1B4965;

}
.input-email {
	box-sizing: border-box;
	position: absolute;
	width: 322px;
	height: 46px;
	left: 27px;
	top: 473px;
	background: #FFFFFF;
	border: 1px solid #E11A1A;

}
.button--block{
	position: absolute;
	width: 145px;
	height: 39px;
	left: 104px;
	top: 557px;

	background: #FE7F2D;
	border-radius: 4px;

}
.Sus-btn {
	position: absolute;
	width: 86px;
	height: 15px;
	left: 134px;
	top: 564px;
	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1B4965;

}








	

.bannerHeading {
/* position: absolute;
  top: 208px;
  left: 20px; */

  position: absolute;
  width: 323px;
  height: 35px;
  left: 23px;
  top: 300px;
  
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  
  color: #1B4965;
  

}

.bannerSubHeading{
position: absolute;
width: 260px;
height: 20px;
left: 23px;
top: 390px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* text-align: center; */

color: #EEF4FA;

background-color: rgba(27, 73, 101, 0.65);
}

/* .buyNowButton{
    position: absolute;
width: 86px;
height: 15px;
left: 49px;
top: 442px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #1B4965;
} */



.actualButton button{
position: absolute;
width: 145px;
height: 39px;
left: 19px;
top: 471px;

background: #FE7F2D;
border-radius: 4px;
/* transform: matrix(1, 0, 0, -1, 0, 0); */
}

#footer-subscribe h1 {
	position: absolute;
	width: 299px;
	height: 29px;
	left: 45px;
	top: 1631px;

	font-family: 'Urbanist';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #1B4965;

}
#footer-subscribe h4 {
	position: absolute;
	width: 355px;
	height: 40px;
	left: 10px;
	top: 1670px;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #000000;
}
#footer-subscribe button {
	position: absolute;
	width: 145px;
	height: 39px;
	left: 107px;
	top: 1769px;
	background: #FE7F2D;
	border-radius: 4px;
	cursor: pointer;
}